body{
    background-color: lightgray;
}
h1{
font-size: 100px;
}
h1{
color: black;
}
h2{
color: blue;
}
h3{
color:black;text-shadow:red;
}
li{
color:blanchedalmond;
text-align: right;
background-color:red;
}
h2{
font-style: italic;
}
p{
text-align: justify;
}
img.W1{
width: 300px;
}
img.W2{
width: 300px;
}